*{
    padding: 0;
    margin: 0;
    font-family: Andale Mono, monospace;
    color: #828282;
    font-size: 18px;
}

h1{
    color: #005ca9;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
    border-bottom: 2px rgb(25, 127, 243) solid;
    font-size: 25px;
}

#btn_voltar{
    font-size: 15px;
    background-color: rgb(25, 127, 243);
    border-radius: 10px;
    padding: 0.5% 2% 0.5% 2%;
    cursor: pointer;
    margin-top: 3%;
    color: white;
    text-decoration: none;
}

#btn_voltar:hover{
    background-color: rgb(20, 20, 207);
}


#btn_voltar a{
    color: white;
    text-decoration: none;
    padding: 0px 10px 10px 10px;
    text-align: center;
}

.conteiner{
    margin-left: 2%;
}


h4{
    color: #005ca9;
    font-weight: bold;
}